.product-card-list{
    margin: 1.5em 0;
    display: flex;
    padding: 0 20px;
}

.product-card-list::-webkit-scrollbar{
    display: none;
}

@media(min-width: 750px){
    .product-card-list{
        justify-content: center;
    }
}